.idea
variables.json
packer/variables.json

*.tfstate
*.tfstate.*.backup
*.tfstate.backup
*.tfstate.*
*.tfvars
.terraform/

src/.env

kubernetes/ansible/inventory
gitlab-ci/ansible/inventory

kubernetes/reddit/tls.crt
kubernetes/reddit/tls.key
